{% extends "SindipescaCobrancaBundle::layout.html.twig" %}
{% block title %}Sindipesca Litoral Centro | Clientes{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-danger-head">
            <h2>Página não encontrada</h2>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
