{% extends "SindipescaCobrancaBundle::layout.html.twig" %}
{% form_theme form 'SindipescaCobrancaBundle:Form:fields.html.twig' %}
{% block title %}Sindipesca Litoral Centro | Conveniadas{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/sindipescacobranca/css/basic.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/sindipescacobranca/css/dropzone.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/sindipescacobranca/css/bootstrap-wysihtml5.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/bootbox.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#loading').hide();
            jQuery('select').select2();
            jQuery('.select2-container').removeClass("form-control").css("width", "100%")
        
            jQuery("#conveniada_telefone, #conveniada_telefone2").mask("(99) 9999-9999");

            jQuery("#basicForm").validate({
                rules: {
                    "conveniada[email]":            {email: true},
                    'conveniada[senha][first]':     { minlength: 6 },
                    'conveniada[senha][second]':    { equalTo:  "#conveniada_senha_first" },
                },
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function(error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                submitHandler: function(form) {
                    jQuery("#salvar").hide();
                    jQuery('#loading').show();
                    form.submit();
               }
            });
            
        });
        
    </script>
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-user"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-user"></i></a></li>
                <li><a href="">Conveniada</a></li>
                <li>{{ conveniada.getid>0 ? "Editar" : "Cadastrar" }} Conveniada</li>
            </ul>
            <h4>{{ conveniada.getid>0 ? "Editar" : "Cadastrar" }} Conveniada</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="form-horizontal form-bordered" id="basicForm" action="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        {{ form_row(form.razaoSocial) }}
                        {{ form_row(form.nomeFantasia) }}
                        {{ form_row(form.responsavel) }}
                        {{ form_row(form.telefone) }}
                        {{ form_row(form.telefone2) }}
                        {{ form_row(form.endereco) }}
                        {{ form_row(form.email) }}
{#                        {{ conveniada.getid>0 ? form_row(form.senha) : "" }}#}
                        {{ form_row(form._token) }}
                        {{ form_errors(form) }}
                    </div><!-- row -->
                </div><!-- panel-body -->
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <img src="{{ asset('bundles/sindipescacobranca/images/loading.gif') }}" id="loading" alt="Carregando" />
                        <button id="salvar" class="btn btn-primary mr5">Salvar</button>
                        <button type="button" onclick="history.back()" class="btn btn-default mr5">Cancelar</button>
                    </div>
                  </div>
                </div><!-- panel-footer -->  
            </div><!-- panel -->
            </form>

        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}