{% extends "SindipescaCobrancaBundle::layout.html.twig" %}
{% block title %}Sindipesca Litoral Centro | Home{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-home"></i>
            </div>
            <div class="media-body">
                <h4>Bemvindo </h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-success-head">
            Seja Bem-vindo ao sistema Sindipesca
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
