<div class="panel panel-default dividas">
    <div class="panel-body">
        
        {% if cliente.getTipo == constant('Sindipesca\\CobrancaBundle\\Entity\\Cliente::ASSISTENCIAL') %}
            {% set link = path("cadastro_assistencial", {"id": cliente.getId}) %}
        {% elseif cliente.getTipo == constant('Sindipesca\\CobrancaBundle\\Entity\\Cliente::AMADOR') %}
            {% set link = path("cadastro_amador", {"id": cliente.getId}) %}
        {% elseif cliente.getTipo == constant('Sindipesca\\CobrancaBundle\\Entity\\Cliente::PROFISSIONAL') %}
            {% set link = path("cadastro_profissional", {"id": cliente.getId}) %}
        {% endif %}
       
        
        <a href="{{ link }}" class="btn btn-primary">Editar dados</a>
        <a href="{{ path("cliente_carta", {'nome': cliente.nome, 'tipo': cliente.tipo}) }}" target="_blank" class="btn btn-primary">Imprimir carta aniversário</a>
        <a href="javascript:abrirDocumentos({{ cliente.getId() }});" class="btn btn-primary">Ver documentos</a>
        
    </div><!-- panel-body -->
</div>
