<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group col-md-6">
                <input required="" id="vencimentoBaixa" name="vencimentoBaixa" type="text" placeholder="Data de pagamento" class="form-control input-md">
            </div>
            <div class="form-group col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">R$</span><input required="" id="valorBaixa" name="valorBaixa" type="text" placeholder="Valor pago" class="form-control input-md">
                </div>
            </div>
        </form> 
    </div>
</div>