{% extends "SindipescaCobrancaBundle::layout.html.twig" %}
{% block title %}Sindipesca Litoral Centro | Ficha do cliente{% endblock %}
{% block head %}
    
    <link href="{{ asset('bundles/sindipescacobranca/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.maskMoney.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/number_format.js') }}"></script>
    
    <script>
        var htmlDarBaixa = "";
        jQuery(document).ready(function(){            
            jQuery.get("{{ path("_html_dar_baixa") }}")
                .done(function(html) {
                        htmlDarBaixa = html;
                })
                .fail(defaultError);
        
            jQuery("#cpf").mask("999.999.999-99", {completed:buscaCliente});
            if (jQuery("#cpf").val()!="") {
                buscaCliente();
            }
        });
        
        function detalhesDivida(id)
        {
            jQuery(".locked").fadeIn();
            jQuery(".negociacao").remove();
            jQuery.post('{{ path('_detalhes_divida')}}', {id: id})
                .done(callbackDetalhesDividas)
                .fail(defaultError);
        }
        
        function callbackCarregaDividas(data) 
        {
            jQuery(".dividas, .registros, .negociacao").remove();
            jQuery(".contentpanel").append(data);
            jQuery("#inserirRegistro").click(inseriRegistro);
            
            jQuery(".locked").fadeOut();
        }
        
        function callbackDetalhesDividas(data) 
        {
            jQuery(".negociacao").remove();
            jQuery(data).insertBefore(".registros");
            jQuery('#numParcelas').keyup(function(){
                var valor = jQuery(this).val();
                jQuery(this).val(valor.replace(/[^\d]/gi, ""));
                atualizaValorParcela();
            }).spinner({ min:1, spin:function(){ setTimeout(atualizaValorParcela, 100) }  });

            jQuery("#entrada, #valorAtual").keyup(atualizaValorParcela).maskMoney({thousands:'.', decimal:','});
            jQuery("#vencimento").mask("99/99/9999").datepicker();
            //jQuery("span.ui-spinner ").addClass("input-group");
            jQuery("#formNegociacao").validate({
                rules: {
                    vencimento:  {brazilianDate: true}
                },
                errorPlacement: function(error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                submitHandler: function(form) {
                    jQuery(".locked").fadeIn();
                    var f = jQuery(form);
                    var valorAtual = jQuery("#valorAtual").maskMoney('unmasked')[0];
                    var valorEntrada = jQuery("#entrada").maskMoney('unmasked')[0];
                    jQuery("#valorAtual").maskMoney('destroy');
                    jQuery("#entrada").maskMoney('destroy');
                    jQuery("#valorAtual").val(valorAtual);
                    jQuery("#entrada").val(valorEntrada);
                    jQuery.post('{{ path('_cobranca_inseri_negociacao')}}', f.serialize())
                        .done(callbackGeraParcelas)
                        .fail(defaultError);
                    return false;
               }
            });
            jQuery('.tooltips').tooltip({ container: 'body'});
            jQuery(".locked").fadeOut();
        }
        
        function callbackGeraParcelas(data) 
        {
            jQuery(".negociacao").remove();
            jQuery(data).insertBefore(".registros");
            jQuery(".locked").fadeOut();
        }
        
        function inseriRegistro() 
        {
            if (jQuery("#textRegistro").val()!="") {
                jQuery(".locked").fadeIn();
                jQuery.post('{{ path('_inserir_registro')}}', {id: jQuery("#idCliente").val(), texto: jQuery("#textRegistro").val()})
                        .done(callbackInseriRegistro)
                        .fail(defaultError);
            }
        }
        
        function darBaixa(idParcela) 
        {
            bootbox.dialog({
                            title: "Preencha os campos",
                            message: htmlDarBaixa,
                        buttons: {
                            close: {
                                label: "Cancelar",
                                className: "btn-default",
                            },
                            success: {
                                label: "Dar baixa",
                                className: "btn-success",
                                callback: function () {
                                    var vencimento  = jQuery('#vencimentoBaixa').val();
                                    var valor       = jQuery("#valorBaixa").maskMoney('unmasked')[0];
                                    if (vencimento != "" && valor != "0") {
                                        if (validaData(vencimento)) {
                                            jQuery(".locked").fadeIn();
                                            jQuery.post('{{ path('_dar_baixa')}}', {id: idParcela, data: vencimento, valor: valor})
                                                .done(callbackGeraParcelas)
                                                .fail(defaultError);
                                        } else {
                                            bootbox.alert("Data inválida");
                                            return false;
                                        }
                                    } else {
                                        bootbox.alert("Preencha todos os campos");
                                        return false;
                                    }
                                }
                            },
                        }
                    }
            );
            jQuery("#vencimentoBaixa").mask("99/99/9999").datepicker();
            jQuery("#valorBaixa").maskMoney({thousands:'.', decimal:','});
        }
        
        
        function callBackDocumentos(html) 
        {
            jQuery(".locked").fadeOut();
            bootbox.dialog({
                            title: "Documentos do cliente",
                            message: html,
                        buttons: {
                            close: {
                                label: "Fechar",
                                className: "btn-default",
                            },
                        }
                    }
            );
        }

        
        function callbackInseriRegistro(data) 
        {
            jQuery(".registros").remove();
            jQuery(".contentpanel").append(data);
            jQuery("#inserirRegistro").click(inseriRegistro);
            jQuery(".locked").fadeOut();
        }
        
        function atualizaValorParcela() 
        {
            var total = jQuery("#valorAtual").maskMoney('unmasked')[0];
            var entrada = jQuery("#entrada").maskMoney('unmasked')[0];
            var parcelas = jQuery("#numParcelas").val();
             
            if (parcelas>0 && total>0) {
                var valorParcela = (total-entrada)/parcelas;
                jQuery("#valorParcela").text("R$ "+number_format(valorParcela,2,',', '.'));
            } else {
                jQuery("#valorParcela").text("");
            }
             
        }
                
        function renegociar(idDivida)
        {
            bootbox.confirm("Tem certeza que deseja renegociar essa dívida?", function(result) {
                if (result) {
                    jQuery(".locked").fadeIn();
                    jQuery.post('{{ path('_detalhes_divida')}}', {id: idDivida, renegociacao: 1})
                        .done(callbackDetalhesDividas)
                        .fail(defaultError);
                }
            }); 
        }
        
        function alterarVencimento(idParcela, data)
        {
            bootbox.dialog({
                        title: "Alterar data de vencimento",
                        message: '<div class="row"> ' +
                                '<div class="col-md-12"> ' +
                                '<form class="form-horizontal"> ' +
                                '<div class="form-group"> ' +
                                '<label class="col-md-4 control-label" for="name">Nova data</label> ' +
                                '<div class="col-md-4"> ' +
                                '<input id="novadata" name="novadata" type="text" value="'+data+'" class="form-control input-md"> ' +
                                '</div> </div> </form> </div> </div>',
                        buttons: {
                            close: {
                                label: "Cancelar",
                                className: "btn-default",
                            },
                            success: {
                                label: "Alterar",
                                className: "btn-success",
                                callback: function () {
                                    var novadata = jQuery('#novadata').val();
                                    if (novadata != "" && validaData(novadata)) {
                                        jQuery(".locked").fadeIn();
                                        jQuery.post('{{ path('_alterar_vencimento')}}', {id: idParcela, novadata: novadata})
                                                .done(callbackGeraParcelas)
                                                .fail(defaultError);
                                    } else {
                                        bootbox.alert("Insira uma data válida");
                                        return false;
                                    }
                                }
                            },
                        }
                    });
           jQuery('#novadata').mask('99/99/9999').datepicker();
        }
        
        function callbackRenegociar(data)
        {
            jQuery(".locked").fadeOut();
            detalhesDivida(data);
        }
        
        function validaData(data)
        {
            var data = data;
            var dia = data.substring(0,2)
            var mes = data.substring(3,5)
            var ano = data.substring(6,10)

            //Criando um objeto Date usando os valores ano, mes e dia.
            var novaData = new Date(ano,(mes-1),dia);

            var mesmoDia = parseInt(dia,10) == parseInt(novaData.getDate());
            var mesmoMes = parseInt(mes,10) == parseInt(novaData.getMonth())+1;
            var mesmoAno = parseInt(ano) == parseInt(novaData.getFullYear());

            if (!((mesmoDia) && (mesmoMes) && (mesmoAno))) {
                return false;
            } 
            return true;
        }
        function buscaCliente()
        {
            jQuery(".locked").fadeIn();
            jQuery.post('{{ path('_cobranca_dividas')}}', {cpf: jQuery("#cpf").val()})
                .done(callbackCarregaDividas)
                .fail(defaultError);;
        }
        
        function abrirDocumentos(id) {
            jQuery(".locked").fadeIn();
            jQuery.post('{{ path('cliente_arquivos')}}', {id: id})
                .done(callBackDocumentos)
                .fail(defaultError);;
        }
        
        function defaultError(xhr, textStatus, errorThrown) {
                jQuery(".locked").fadeOut();
                bootbox.alert("Erro ao processar informação");
        }
        
        function number_format(number, decimals, dec_point, thousands_sep) {
                //  discuss at: http://phpjs.org/functions/number_format/
                // original by: Jonas Raoni Soares Silva (http://www.jsfromhell.com)
                // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
                // improved by: davook
                // improved by: Brett Zamir (http://brett-zamir.me)
                // improved by: Brett Zamir (http://brett-zamir.me)
                // improved by: Theriault
                // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
                // bugfixed by: Michael White (http://getsprink.com)
                // bugfixed by: Benjamin Lupton
                // bugfixed by: Allan Jensen (http://www.winternet.no)
                // bugfixed by: Howard Yeend
                // bugfixed by: Diogo Resende
                // bugfixed by: Rival
                // bugfixed by: Brett Zamir (http://brett-zamir.me)
                //  revised by: Jonas Raoni Soares Silva (http://www.jsfromhell.com)
                //  revised by: Luke Smith (http://lucassmith.name)
                //    input by: Kheang Hok Chin (http://www.distantia.ca/)
                //    input by: Jay Klehr
                //    input by: Amir Habibi (http://www.residence-mixte.com/)
                //    input by: Amirouche
                //   example 1: number_format(1234.56);
                //   returns 1: '1,235'
                //   example 2: number_format(1234.56, 2, ',', ' ');
                //   returns 2: '1 234,56'
                //   example 3: number_format(1234.5678, 2, '.', '');
                //   returns 3: '1234.57'
                //   example 4: number_format(67, 2, ',', '.');
                //   returns 4: '67,00'
                //   example 5: number_format(1000);
                //   returns 5: '1,000'
                //   example 6: number_format(67.311, 2);
                //   returns 6: '67.31'
                //   example 7: number_format(1000.55, 1);
                //   returns 7: '1,000.6'
                //   example 8: number_format(67000, 5, ',', '.');
                //   returns 8: '67.000,00000'
                //   example 9: number_format(0.9, 0);
                //   returns 9: '1'
                //  example 10: number_format('1.20', 2);
                //  returns 10: '1.20'
                //  example 11: number_format('1.20', 4);
                //  returns 11: '1.2000'
                //  example 12: number_format('1.2000', 3);
                //  returns 12: '1.200'
                //  example 13: number_format('1 000,50', 2, '.', ' ');
                //  returns 13: '100 050.00'
                //  example 14: number_format(1e-8, 8, '.', '');
                //  returns 14: '0.00000001'

                number = (number + '')
                        .replace(/[^0-9+\-Ee.]/g, '');
                var n = !isFinite(+number) ? 0 : +number,
                        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                        s = '',
                        toFixedFix = function (n, prec) {
                            var k = Math.pow(10, prec);
                            return '' + (Math.round(n * k) / k)
                                    .toFixed(prec);
                        };
                // Fix for IE parseFloat(0.55).toFixed(0) = 0;
                s = (prec ? toFixedFix(n, prec) : '' + Math.round(n))
                        .split('.');
                if (s[0].length > 3) {
                    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                }
                if ((s[1] || '')
                        .length < prec) {
                    s[1] = s[1] || '';
                    s[1] += new Array(prec - s[1].length + 1)
                            .join('0');
                }
                return s.join(dec);
            }

       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('_index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="{{ path('clientes') }}">Clientes</a></li>
                    <li>Ficha do Cliente</li>
                </ul>
                <h4>Ficha do Cliente</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Buscar Cliente</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <p>Insira o CPF do pescador abaixo.</p>
                <div class="row">
                    <div class="col-md-6">
                        <input placeholder="CPF" type="text" value="{{cpf}}" class="form-control" id="cpf">
                    </div>
                    <div class="col-md-6">
                        <button onclick="buscaCliente()" class="btn btn-primary mr5">Buscar</button>
                    </div>
                </div>

            </div><!-- panel-body -->
        </div>
     </div><!-- contentpanel -->
{% endblock %}
