<!DOCTYPE html>
<html>
    <head>
        <title>Recibo</title>
        <meta charset="UTF-8">
        <link href="{{ asset('bundles/sindipescacobranca/css/style.default.css') }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
           window.onLoad = window.print()
        </script>
    </head>
    <body style="margin: 0 auto; width: 980px; font-family: Arial; font-size: 14px;">
        <table style="padding: 1%; margin: 0 50px 0; width: 880px" class="mt20">
            <tr>
                <td colspan="3">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <img width="160" src="{{ asset('bundles/sindipescacobranca/images/image00.png') }}" />
                        </div>
                        <div class="col-sm-6 text-center">
                            <h5><strong>Sindicato dos Pescadores de Tramandaí</strong></h5>
                            Rua João Pessoa, 863, Centro
                            <br/>
                            CEP 95.590-000
                            <br/>
                            Telefone 51 3684 7421
                           <br/>
                            <u>sindipescatramandai@hotmail.com</u>
                        </div>
                        <div class="col-sm-3 text-right">
                            <div class="row">
                                <div class="col-sm-7">
                                    <span class="h4">R$ {{ valor|number_format(2, ',', '.') }}</span>
                                    <br/>
                                    Anuidade {{ anoParcela }}
                                </div>
                                <div class="col-sm-5">
                                    <span class="h4">{{ numeroParcela }}/{{ anoParcela }}</span>
                                    <br/>
                                    <strong>RECIBO</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="3">
                    <br/><br/>
                    <h4>RECIBO DE PAGAMENTO</h4>
                </td>
            </tr>
            <tr>
                <td style="" colspan="3">
                    <br/>
                    Recebemos do(a) Sr(a). <strong>{{ clienteNome }}</strong> a quantia de <strong>{{ valor|valorExtenso() }}</strong> referente aopagamento da anuidade do Sindicato dos Pescadores de Tramandaí.
                </td>
            </tr>
            <tr>
                <td style="" colspan="2">
                    <br/><br/>
                    Tramandaí, {{ dia }} de {{ mes }} de {{ ano }}.
                </td>
                <td style="">
                    <br/><br/>
                    Tipo de Associação
                    <br/>
                    <strong>{{ tipo }}</strong>
                </td>
            </tr>
            <tr>
                <td style="" colspan="3">
                    <br/><br/>
                    _____________________________________
                    <br/>
                    SINDICATO DOS PESCADORES DE TRAMANDAÍ
                </td>
            </tr>
        </table>
        <br/><br/><br/>
        <table style="padding: 1%; margin: 0 50px 0; width: 880px" class="mt20">
            <tr>
                <td colspan="3">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <img width="160" src="{{ asset('bundles/sindipescacobranca/images/image00.png') }}" />
                        </div>
                        <div class="col-sm-6 text-center">
                            <h5><strong>Sindicato dos Pescadores de Tramandaí</strong></h5>
                            Rua João Pessoa, 863, Centro
                            <br/>
                            CEP 95.590-000
                            <br/>
                            Telefone 51 3684 7421
                           <br/>
                            <u>sindipescatramandai@hotmail.com</u>
                        </div>
                        <div class="col-sm-3 text-right">
                            <div class="row">
                                <div class="col-sm-7">
                                    <span class="h4">R$ {{ valor|number_format(2, ',', '.') }}</span>
                                    <br/>
                                    Anuidade {{ anoParcela }}
                                </div>
                                <div class="col-sm-5">
                                    <span class="h4">{{ numeroParcela }}/{{ anoParcela }}</span>
                                    <br/>
                                    <strong>RECIBO</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="3">
                    <br/><br/>
                    <h4>RECIBO DE PAGAMENTO</h4>
                </td>
            </tr>
            <tr>
                <td style="" colspan="3">
                    <br/>
                    Recebemos do(a) Sr(a). <strong>{{ clienteNome }}</strong> a quantia de <strong>{{ valor|valorExtenso() }}</strong> referente aopagamento da anuidade do Sindicato dos Pescadores de Tramandaí.
                </td>
            </tr>
            <tr>
                <td style="" colspan="2">
                    <br/><br/>
                    Tramandaí, {{ dia }} de {{ mes }} de {{ ano }}.
                </td>
                <td style="">
                    <br/><br/>
                    Tipo de Associação
                    <br/>
                    <strong>{{ tipo }}</strong>
                </td>
            </tr>
            <tr>
                <td style="" colspan="3">
                    <br/><br/>
                    _____________________________________
                    <br/>
                    SINDICATO DOS PESCADORES DE TRAMANDAÍ
                </td>
            </tr>
        </table>
    </body>
</html>
