{% block form_row %}
    <div class="form-group">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block date_row -%}
    <div class="col-sm-3">
        {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
    </div>
{%- endblock date_row %}

{% block text_row -%}
    <div class="col-sm-3">
        {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
    </div>
{%- endblock text_row %}
