{% block form_row %}
    <div class="form-group">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}

{% block money_row -%}
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">R$</span>
            {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
{%- endblock money_row %}
{% block date_row -%}
    <div class="col-sm-4">
        {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
    </div>
{%- endblock date_row %}
