{% extends "SindipescaCobrancaBundle::layout.html.twig" %}
{% block title %}Sindipesca Litoral Centro | Clientes{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/sindipescacobranca/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/select2.min.js') }}"></script>
    <script>
        var exRowTable;
        jQuery(document).ready(function(){
            exRowTable = jQuery('#exRowTable').DataTable({
                    responsive: true,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                    ajax: {
                        "url": "{{ path('clientes_pagination') }}",
                        "data": function (d) {
                            d.categoria = jQuery("#categoria").val();
                            d.cidade = jQuery("#cidade").val();
                        }
                    },
                    "serverSide" : true,
                });

                jQuery("#categoria, #cidade").change(function (){
                    exRowTable.draw();
                });

                // DataTables Length to Select2
                jQuery('div.dataTables_length select').removeClass('form-control input-sm');
                jQuery('div.dataTables_length select').css({width: '60px'});
                jQuery('select').select2({
                    minimumResultsForSearch: -1
                });

        });
       
       
        function exportar() {
            var data = exRowTable.ajax.params()
            location.href = "{{ path('clientes_exportar') }}?" + jQuery.param(data);
        }
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('_index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="">Clientes</a></li>
                    <li>Lista de Clientes</li>
                </ul>
                <h4>Clientes</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-success-head">
            <div class="row">
                <div class="col-sm-4">
                    <select id="categoria" style="width: 100%">
                        <option value="">Categoria</option>
                        <option value="ASSISTENCIAL">Assistencial</option>
                        <option value="AMADOR">Amador</option>
                        <option value="PROFISSIONAL">Profissional</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select id="cidade" style="width: 100%">
                        <option value="">Cidade</option>
                        {% for cidade in cidades %}
                        <option value="{{ cidade.cidade }}">{{ cidade.cidade }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <button onclick="exportar()" class="btn btn-primary"><em class="fa fa-file-excel-o"></em> Exportar</button>
                </div>
            </div>
            <table id="exRowTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>RGP</th>
                        <th>Tipo de cadastro</th>
                    </tr>
                </thead>
            </table>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
