{% extends "SindipescaCobrancaBundle::Cliente/cadastro.html.twig" %}
{% block formulario %}
        {{ form_row(form.nome) }}
        {{ form_row(form.nascimento) }}
        {{ form_row(form.cpf) }}
        {{ form_row(form.rg) }}
        {{ form_row(form.cep) }}
        {{ form_row(form.uf) }}
        {{ form_row(form.cidade) }}
        {{ form_row(form.bairro) }}
        {{ form_row(form.endereco) }}
        {{ form_row(form.telefone) }}
        {{ form_row(form.telefone1) }}
        {{ form_row(form.telefone2) }}
        {{ form_row(form.profissao) }}
        {{ form_row(form.email) }}
        {{ form_row(form.registro) }}
        {{ form_row(form.inicioAtividade) }}
        {{ form_row(form.nit) }}

{% endblock %}