<!DOCTYPE html>
<html lang="br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <link href="{{ asset('bundles/sindipescacobranca/css/style.default.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sindipescacobranca/css/morris.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sindipescacobranca/css/select2.css') }}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        <script src="{{ asset('bundles/sindipescacobranca/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('bundles/sindipescacobranca/js/jquery-migrate-1.2.1.min.js') }}"></script>
        <script src="{{ asset('bundles/sindipescacobranca/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/sindipescacobranca/js/modernizr.min.js') }}"></script>
        <script src="{{ asset('bundles/sindipescacobranca/js/pace.min.js') }}"></script>
        <script src="{{ asset('bundles/sindipescacobranca/js/retina.min.js') }}"></script>
        <script src="{{ asset('bundles/sindipescacobranca/js/jquery.cookies.js') }}"></script>
        <script src="{{ asset('bundles/sindipescacobranca/js/custom.js') }}"></script>
        
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="locked" style="display: none">
            <div class="lockedpanel">
                <div class="loginuser">
                    <img src="{{ asset('bundles/sindipescacobranca/images/loaders/loader7.gif') }}" class="" alt="" />
                </div>
            </div><!-- lockedpanel -->
        </div><!-- locked -->
       
        <header>
            {% include 'SindipescaCobrancaBundle::header.html.twig'  %}
        </header>

        <section>
            <div class="mainwrapper">
                {% include 'SindipescaCobrancaBundle::menu.html.twig'  %}
                <div class="mainpanel">
                    {% block mainpanel %}{% endblock %}
                </div>
            </div>
        </section>
        
    </body>
</html>