<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" id="basicForm">
            <div class="form-group">
                <div class="col-sm-12">
                    <select id="mes" class="width100p" data-placeholder="Selecione um mes" tabindex="-1">
                        <option value="">Selecione um mês</option>
                        {% for mes in ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"] %}
                        <option value="{{ loop.index }}">{{ mes }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>