<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{ asset('bundles/sindipescacobranca/css/style.default.css') }}" rel="stylesheet">
        <script>
            window.onLoad = window.print()
        </script>
    </head>
    <body style="margin: 0 auto; width: 980px;">
        <h1><center>Relatório de Inadinplentes</center></h1>
        <table class="table" style="padding: 1%; margin: 0 50px; width: 880px;">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Telefone
                    </th>
                    <th>
                        Vencimento
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for parcela in parcelas  %}
                <tr>
                    <td>{{ parcela.negociacao.divida.cliente.nome }}</td>
                    <td>{{ parcela.negociacao.divida.cliente.telefone }}</td>
                    <td>{{ parcela.vencimento.format("d/m/Y") }}</td>
                    <td>{{ parcela.valor|number_format('2', ',', '.') }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </body>
</html>