{% extends "SindipescaCobrancaBundle::layout.html.twig" %}
{% block title %}Sindipesca Litoral Centro | Relatórios{% endblock %}

{% block head %}
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/sindipescacobranca/js/select2.min.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            
            var htmlRecibo = "";
            var htmlCobranca = "";

            jQuery.get("{{ path("html_form_aniversario") }}", function(html) {
                htmlRecibo = html;
            });
            
            jQuery.get("{{ path("html_form_cobranca") }}", function(html) {
                htmlCobranca = html;
                jQuery("#inicio, #fim").mask("99/99/9999").datePicker
            });
            
            
            
            jQuery("#aniversario").click(function(){
                bootbox.dialog({
                    title: "Selecione o mês",
                    message: htmlRecibo,
                    buttons: {
                        close: {
                            label: "Cancelar",
                            className: "btn-default",
                        },
                        success: {
                            label: "Gerar",
                            className: "btn-success",
                            callback: function () {
                                var mes  = jQuery('#mes').val();
                                if (mes != "") {
                                    var link = "{{ path("relatorio_aniversariantes") }}";
                                    window.open(link+"/"+mes, "_blank");
                                } else {
                                    bootbox.alert("Selecione a loja");
                                    return false;
                                }
                            }
                        },
                    }
                });
                jQuery("#loja, #mes, #ano").select2({
                    minimumResultsForSearch: -1
                });

            });
            
            jQuery("#cobranca").click(function(){
                bootbox.dialog({
                    title: "Relatório de cobrnaça",
                    message: htmlCobranca,
                    buttons: {
                        close: {
                            label: "Cancelar",
                            className: "btn-default",
                        },
                        success: {
                            label: "Gerar",
                            className: "btn-success",
                            callback: function () {
                                jQuery("#formCobranca").submit();                            }
                        },
                    }
                });
                jQuery("#inicio, #fim").mask("99/99/9999").datepicker();
                jQuery("#formCobranca").validate({
                    rules: {
                        fim:    {required:true, brazilianDate: true},
                        inicio: {required:true, brazilianDate: true},
                    },
                    highlight: function(element) {
                        jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    },
                    success: function(element) {
                        jQuery(element).closest('.form-group').removeClass('has-error');
                    },
                    errorPlacement: function(error, element) {
                        jQuery(element).closest('.form-group').append(error);
                    },
                    submitHandler: function(form) {
                        form.submit();
                   }
                });
                
            });

        })
    </script>
{% endblock %}
{% block mainpanel %}
    
    
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="{{ path("_index") }}"><i class="glyphicon glyphicon-home"></i></a></li>
                <li>Relatórios</li>
            </ul>
            <h4>Relatórios</h4>
        </div>
    </div><!-- media -->
</div>                    
<div class="contentpanel">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Selecione</h4>
                <p>Selecione o tipo de relatório.</p>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <div class="btn-list">
                    <button id="aniversario" class="btn btn-primary btn-lg">Recibo Aniversariantes</button>
                    <a href="{{ path('relatorio_inadinplentes') }}" target="_blank"  class="btn btn-primary btn-lg">Relatório de Inadinplentes</a>
                    <button id="cobranca" class="btn btn-primary btn-lg">Relatório de Cobrança</button>
                    <a href="{{ path('relatorio_maioridade') }}" target="_blank"  class="btn btn-primary btn-lg">Relatório de Maioridade</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}