<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{ asset('bundles/sindipescacobranca/css/style.default.css') }}" rel="stylesheet">
        <script>
            window.onLoad = window.print()
        </script>
    </head>
    <body style="margin: 0 auto; width: 980px;">
        <h1><center>Relatório de Maioridade</center></h1>
        <table class="table" style="padding: 1%; margin: 0 50px; width: 880px;">
            <thead>
                <tr>
                    <th>
                        Titular
                    </th>
                    <th>
                        Dependente
                    </th>
                    <th>
                        Data de Nascimento
                    </th>
                    <th>
                        Idade no ano
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for dependente in dependentes  %}
                <tr>
                    <td>{{ dependente.cliente.nome }}</td>
                    <td>{{ dependente.nome }}</td>
                    <td>{{ dependente.nascimento.format("d/m/Y") }}</td>
                    <td>{{ "now"|date("Y") - dependente.nascimento.format("Y") }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </body>
</html>